body {
    background-color: black;
    color: rgb(217, 233, 247);
    text-shadow: 0px 0px 3px rgb(255, 255, 255);
    text-align: center;
    margin: auto;
    font-family: "Kiwi Maru";
    position:absolute;
	right:50%;
	bottom:55%;
	transform: translate(50%, 50%);
}
h1 {
    font-size: 50px;
}
h2 {
    margin-top: 80px;
}
/* h2:hover {
} */
p {
    margin: 40px;
    font-weight: 500;
}


/* ゆっくりピントが合う */
#zoomin{
    animation: zoomin 4s both ease-out;
}
@keyframes zoomin {
    from {
        filter: blur(1000px);
    }
    
    to {
        filter: blur(0px);
    }
}
/* ゆらゆらピンボケ */
#bokeh{
    animation: blur2 30s both ease-out infinite alternate;
}
@keyframes blur2 {
    0%, 10%, 25%, 50%, 55%, 80% {
        filter: blur(8px);
        transform: scale(1.0005);
    }
    
    /* 5%, 15%, 20%, 30%, 45%, 52%, 60%, 75%, 85%, 95% { */
    2%, 8%, 12%, 23%, 27%, 48%, 52%, 53%, 57%, 78%, 82%, 98% {
        filter: blur(0px);
        transform: scale(1);
    }
}